<!DOCTYPE html>
<html lang="en" class="dark">

<head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />

   <title>Components</title>
   <link rel="stylesheet" href="/dist/output.css" />
</head>

<body class="dark:bg-gray-800 bg-gray-100">

   <!-- card component -->
   <div class="container px-8 py-5 m-auto">
      <h1 class="text-neutral-800 dark:text-gray-300 mb-2 font-semibold">
         Card Component</h1>
      <div class="bg-gray-200 dark:bg-gray-700 dark:text-gray-300 shadow rounded-md overflow-hidden">

         <div class="w-full bg-gray-300 dark:bg-gray-600 p-2">
            <h2 class="font-semibold p-1">Card Title</h2>
         </div>

         <div class="p-3">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Voluptas labore mollitia inventore placeat aperiam, nostrum iste
            est eius, quis facere minus culpa beatae ipsa dolor laboriosam
            suscipit amet. Magnam, adipisci! <br> <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas dolore praesentium quibusdam excepturi,
            quam maiores quod facere voluptates mollitia? Ab placeat quibusdam pariatur nemo ex consequuntur id,
            deserunt accusantium cupiditate.
         </div>

         <div class="dark:bg-gray-700 dark:text-gray-300 shadow border-t dark:border-gray-600 border-gray-100">
            <div class="w-full">
               <h4 class="px-3 py-1">- Ryan Gabriel</h4>
            </div>
         </div>
      </div>
   </div>

   <!-- button component -->
   <div class="container px-8 py-5 m-auto dark:text-gray-300">
      <h1 class="text-neutral-800 dark:text-gray-300 font-semibold">
         Button Componet</h1>

      <div class="dark:bg-gray-600 bg-gray-200 p-3 rounded-md flex justify-around">
         <button
            class="px-7 py-2 rounded-md border-gray-700 border hover:bg-gray-700 transition duration-200 ease-in-out">
            Save
         </button>

         <button
            class="bg-gray-700 px-7 py-2 rounded-md hover:bg-gray-600 border border-gray-600 hover:border-gray-700 transition duration-200 ease-in-out">
            Close
         </button>
      </div>
   </div>

   <!-- badge/tag component -->
   <div class="container px-8 py-5 m-auto dark:text-gray-300">
      <h1 class="text-neutral-800 dark:text-gray-300 font-semibold">
         Badge/Tag Component</h1>

      <div class="dark:bg-gray-600 bg-gray-300 p-3 rounded-md flex justify-evenly">
         <div class="text-sm bg-green-300 inline-flex items-center px-2 py-0.5 rounded-full text-green-800 font-medium">
            online
         </div>

         <div
            class="text-sm bg-yellow-200 inline-flex items-center px-2 py-0.5 rounded-full text-yellow-800 font-medium">
            in progress
         </div>

         <div class="text-sm bg-red-300 inline-flex items-center px-2 py-0.5 rounded-full text-red-500 font-medium">
            offline
         </div>
      </div>
   </div>

   <!-- input component -->
   <div class="container px-8 py-5 m-auto dark:text-gray-300">
      <h1 class="text-neutral-800 dark:text-gray-300 font-semibold">
         Input Component</h1>

      <div>
         <input type="text" placeholder="Lorem ipsum dolor, sit amet consectetur adipisicing elit... "
            class="dark:bg-gray-600 dark:text-gray-200 rounded-md px-2 py-0.5 focus:outline-none border border-gray-600 w-full">
      </div>
   </div>
</body>

</html>